<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- The "Pimp My Shirt" business service facade. -->
	<bean id="shirtService" class="org.pimpmyshirt.service.ShirtServiceImpl"/>

</beans>