body {
	background: #999 url(../images/style/bk.jpg) repeat-x fixed;
	margin: 50px 0 0 25px;
	padding: 0;
	color: black;
	font-family: georgia, times, serif;
	font-size: 100%;
}

h1,h2 {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "lucida grande", "lucida sans unicode", verdana, sans-serif;
	font-weight: normal;
}

a {
	color: black;
}

.mainTable {
	text-indent: 5px;
	width: 650px;
	border: 1px dotted black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.mainTable th {
	border-bottom: 1px solid black;
}

.container {
	position: relative;
	text-align: center;
	width: 750px;
	background: url(../images/style/paperMid.gif) repeat-y;
	padding-bottom: 20px;
}

.containerTop {
	position: absolute;
	top: 10px;
	left: 23px;
	width: 750px;
	height: 50px;
	background: url(../images/style/paperTop.gif) no-repeat;
}

.error {
	color: red;
}